//grid
$cols:12;
$gutter:20px;

// devices
$l-device:1200px;
$m-device:760px;
$s-device:480px;

// colors
$light-beige: #edece4;
$medium-beige: #cbc6b9;
$dark-beige: #988c77;
$gray: #2a2426;
$green: #21a132;


// fonts
$font-1: 'PT Mono', monospace;
$font-2: 'Aref Ruqaa', serif;
